@model MouseRidersWeb.DTO.SeccionDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Noticias</h2>
@using (Ajax.BeginForm("Index", "Noticias", new { },
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ArticuloAJAX"
    }))
{
    <input type="hidden" name="minimo" value="0">
}
<h3 style="text-align:center"> Ordenar por </h3>

<div class="btn-group-justified" role="group">
    <a href="" class="btn btn-secondary2">Fecha</a>
    <a href="" class="btn btn-secondary2">Orden Ascendente</a>
    <a href="" class="btn btn-secondary2">Orden Descendente</a>
    <a href="" class="btn btn-secondary2">Valoración</a>
</div>

<div id="ArticuloAJAX">
    @if (Model == null)
    {
        @Html.Partial("_Articulo", new MouseRidersWeb.DTO.SeccionDTO());
    }
    else
    {
        @Html.Partial("_Articulo", Model);
    }
</div>
<script>
    $('#cargar_mas a').click(function (e) {
        e.preventDefault();
        $("input:hidden[name=minimo]").val(parseInt($("input:hidden[name=minimo]").val()) + 1);
        $("input:hidden[name=minimo]").parent("form").submit();
    });
    $(document).ajaxComplete(function () {
        $('#cargar_mas a').click(function (e) {
            e.preventDefault();
            $("input:hidden[name=minimo]").val(parseInt($("input:hidden[name=minimo]").val()) + 1);
            $("input:hidden[name=minimo]").parent("form").submit();
        });
    });
</script>


