@{
    ViewBag.Title = "Puesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Solicitar un puesto</h2>
<p class="psection">
    ¿Quieres unirte a nosotros? ¡Explicanos brevemente tus inspiraciones y cualidades, déjanos tu curriculum y puede que te fichemos!
</p>
<form>
    <fieldset>
        <div class="form-group">
            <label for="ContenidoP">Mensaje</label>
            <textarea class="form-control" id="ContenidoP" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label for="AdjuntoP">Tu curriculum</label>
            <input type="file" class="form-control" id="AdjuntoP" />
        </div>

        <button type="submit" class="btn btn-primary">Enviar mensaje a Redactor</button>
    </fieldset>
</form>

@Html.ActionLink("Volver", "Index", "Redaccion", null, new { @class = "btn-secondary2 btn-lg", style = "text-decoration:none" })