@model MRModel.EN.PreguntaEN

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <fieldset>
        <legend>PreguntaEN</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Pregunta)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Pregunta)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
