@model IEnumerable<MouseRidersWeb.DTO.PreguntaDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Gestión de preguntas</h2>

<div class="table-responsive">
    <table class="table table-condensed table-striped">

        <tr>
            <th>
                Preguntas
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pregunta)
                </td>
                <td>
                    @Html.ActionLink("Modificar Pregunta", "Edit", new { id = item.id }, new { @class = "btn btn-default btn-xs btn-block " }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-info btn-xs btn-block " }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-xs btn-block " })
                </td>
            </tr>
        }

    </table>
</div>