@model MouseRidersWeb.DTO.EncuestaDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">@Html.DisplayFor(model => model.titulo)</h2>
@if (Model != null)
{
foreach (var preg in Model.Tiene)
{
    <fieldset class="encuesta">
        <h2>
            @Html.DisplayFor(modelpreg => preg.Pregunta)
        </h2>
        <img src="@Url.Action("Chart", "Pregunta", new {id= preg.id})" />
    </fieldset>

}

<p>
    @Html.ActionLink("Volver", "Index", "Encuesta", null, new { @class = "btn btn-default btn-lg btn-block " })
</p>
}
<script>
    $(window).resize(function () {
        var aux = $(window).width();
        Cookies.set('width', aux);
    });
</script>