@model MouseRidersGenNHibernate.EN.MouseRiders.SeccionEN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>SeccionEN</legend>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new {  /*id=Model.id */}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
