@model MouseRidersGenNHibernate.EN.MouseRiders.SeccionEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <fieldset>
        <legend>SeccionEN</legend>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new {  id=Model.Seccion}) |
        @Html.ActionLink("Back to List", "Index")
    </p>
