@model IEnumerable<MouseRidersWeb.DTO.SeccionDTO>

@{
    ViewBag.Title = "Secciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Secciones</h2>

@using (Ajax.BeginForm("Index", "Seccion", new { },
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ArticuloAJAX"
    }))
{
    <input type="hidden" name="id" value="0">
    <input type="hidden" name="minimo" value="0">
    <div class="btn-group-lg btn-group-justified" role="group" id="secciones_aux">
        @foreach (var item in Model)
        {
            if (item != null)
            {

                @Html.ActionLink(item.Nombre, "Index", "Seccion", null, new { id = item.Seccion, @class = "btn btn-secondary2", href = "#" })
            }

        }
    </div>
}

<h3 style="text-align:center"> Ordenar por </h3>

<div class="btn-group-justified" role="group">
    <a href="" class="btn btn-secondary2">Fecha</a>
    <a href="" class="btn btn-secondary2">Orden Ascendente</a>
    <a href="" class="btn btn-secondary2">Orden Descendente</a>
    <a href="" class="btn btn-secondary2">Valoración</a>
</div>


<div id="ArticuloAJAX">
    @if (Model == null)
    {
        @Html.Partial("_Articulo", new List<MouseRidersWeb.DTO.SeccionDTO>());
    }
    else
    {
        @Html.Partial("_Articulo", Model);
    }
</div>

<script>
    $('#secciones_aux a').click(function (e) {
        e.preventDefault();
        $("input:hidden[name=id]").val($(this).attr('id'));
        $("input:hidden[name=minimo]").val(0);
        $("#secciones_aux").parent("form").submit();
    });
    $('#cargar_mas a').click(function (e) {
        e.preventDefault();
        $("input:hidden[name=minimo]").val(parseInt($("input:hidden[name=minimo]").val()) + 1);
        $("#secciones_aux").parent("form").submit();
    });
    $(document).ajaxComplete(function () {
        $('#cargar_mas a').click(function (e) {
            e.preventDefault();
            $("input:hidden[name=minimo]").val(parseInt($("input:hidden[name=minimo]").val()) + 1);
            $("#secciones_aux").parent("form").submit();
        });
    });
</script>