@model IEnumerable<MouseRidersGenNHibernate.EN.MouseRiders.SeccionEN>

@{
    ViewBag.Title = "Secciones";
}

<h2>Secciones</h2>

<table>
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td><a href="~/Seccion/Mostrar2">
                 @Html.DisplayFor(modelItem => item.Nombre)
</a></td>
        </tr>
    }

</table>
