@model IEnumerable<MRModel.EN.SeccionEN>

@{
    ViewBag.Title = "Secciones";
}

<h2 class="customh2">Secciones</h2>

<div class="btn-group-lg btn-group-justified" role="group">
    <a href="" class="btn btn-secondary2">PC</a>
    <a href="" class="btn btn-secondary2">PS4</a>
    <a href="" class="btn btn-secondary2">XBOX One</a>
    <a href="" class="btn btn-secondary2">Wii U</a>
    <a href="" class="btn btn-secondary2">Nintendo 3DS</a>
</div>

<!---
<div class="table-responsive">
    <table class="table">
        <tr>
            <th></th>
        </tr>
        */
    -->
        @foreach (var item in Model)
        {
           
            <div class="container-fluid divsection">
                <div class="col-md-10">
                    <h2> <!-- TITULO DE LA SECCION-->
                        <a href="~/Seccion/Mostrar2">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </a>
                    </h2>
                    <p class="psection">texto de ejemplo </p> <!--DESCRIPCION DE LA SECCION-->
                </div>

                <div class="col-xs-2"> <!--IMAGEN DE LA SECCION-->
                    <img src="C:\Users\OIDEWin7\Desktop\preview.jpg" style="height:150px; width:150px;" />
                </div>
            </div>

          
        }
<!--
    </table>
</div>-->