@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="customh2">Sobre Nosotros</h2>

<div class="container-fluid"> 
    <div class="col-lg-12">
        <img class="img-responsive" src="https://scontent.fmad3-1.fna.fbcdn.net/v/t31.0-8/12120196_1637996483128368_2640019805639880766_o.png?oh=f20c4f84171f99921c24cff758dc2164&oe=58D738D1" />
    </div>
    <p class="text-justify psection">
        Somos una <strong> revista digital independiente </strong> llevada por un equipo tratando de <strong> aprobar una asignatura en un grado de dudosa calidad </strong> en una universidad no tan prestigiosa como la pintaban
    </p>
</div>
<div class="container-fluid">
    <h3 class="customh3"> Contáctanos </h3>

    <div class="divsection col-sm-12">
        <button class="btn-secondary2 btn-lg"> Sugiere un contenido </button>
        <img class="col-sm-3 img-rounded img-responsive sectimg" src="https://thelogicalindian.com/wp-content/uploads/2015/12/Suggest-a-News.png.pagespeed.ce.1M7z0qO9oa.png" />
        <p class="text-justify psection col-sm-9">
            ¿Echas en falta un análisis, un avance o alguna cosa? ¡Háznoslo saber!
        </p>
    </div>

    <div class="divsection col-sm-12">
        <p></p>
        <button class="btn-secondary2 btn-lg"> Contacta con un redactor </button>
        <img class="col-sm-3 img-rounded img-responsive sectimg" src="http://www.omniumsandals.com/images/contact-admin-omnium.png" />
        <p class="text-justify psection col-sm-9">
            ¿Tienes algo que hacerle llegar personalmente a uno de nuestros redactores? ¡No te cortes!
        </p>
    </div>

    <div class="divsection col-sm-12">
        <p></p>
        <button class="btn-secondary2 btn-lg"> Contacta con un administrador </button>
        <img class="col-sm-3 img-rounded img-responsive sectimg" src="https://cdn0.iconfinder.com/data/icons/icostrike-characters/512/user_login-512.png" />
        <p class="text-justify psection col-sm-9">
            Para cuando quieres más y más poder. ¡Aségurate de no hacer que te baneen!
        </p>
    </div>

    <div class="divsection col-sm-12">
        <p></p>
        <button class="btn-secondary2 btn-lg"> Solicitar Puesto </button>
        <img class="col-sm-3 img-rounded img-responsive sectimg" src="https://d30y9cdsu7xlg0.cloudfront.net/png/76603-200.png" />
        <p class="text-justify psection col-sm-9">
            ¿Te interesa la prensa videojueguil y eres bueno en esto de meter paja? ¡Súbete al carro del equipo!
        </p>
    </div>

</div>