@model MouseRidersGenNHibernate.EN.MouseRiders.ArticuloEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <h1>
        @Html.DisplayFor(model => model.Titulo)
    </h1>

    <h2>
        @Html.DisplayFor(model => model.Subtitulo)
    </h2>

</header>
<main>
    <div w3-include-html="~/Contenido/Articulos/@Html.DisplayFor(model => model.Contenido)"></div>
    <script>
        w3IncludeHTML();
    </script>

    <h2 id="hcoments">Comentarios</h2>
    <div id="dcoments">@{ Html.RenderAction("Index", "Comentario", new { minimo = "" });}</div>

    
</main>



