@model MouseRidersGenNHibernate.EN.MouseRiders.ArticuloEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <h1 class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </h1>

    <h2 class="display-field">
        @Html.DisplayFor(model => model.Subtitulo)
    </h2>
    <div class="display-field">
        <img class="featurette-image img-circle img-responsive pull-right" src="@Html.DisplayFor(model => model.Portada)">
    </div>


    <div>
        <div w3-include-html="~/Contenido/Articulos/@Html.DisplayFor(model => model.Contenido)"></div>
        <script>
            w3IncludeHTML();
        </script>
    </div>


</header>
