@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h2 class="customh2">Ayuda</h2>
    <img class="img-responsive img-circle col-sm-12" src="https://dvcac.org/sites/default/files/internet%20help.jpg">
    <p class="psection text-justify">
        Aquí encontraras algunas de las <strong> y dudas más frecuentes </strong> que pueden surgir al usar nuestro sitio web
    </p>

    <h3 class="customh3">FAQ</h3>
    <div class="panel-group">
        
        <div class="panel panel-default">
             <div class="panel-heading">
                <h3 class="panel-title">¿Os quitarán el examen?</h3>
             </div>
             <div class="panel-body">
                    Puede ser... JA JA JA JA JA JA NO
             </div>
         </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">¿Qué hacéis en vuestro tiempo libre?</h3>
            </div>
            <div class="panel-body">
                ¿Tiempo libre? ¿Qué es eso?
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">¿Por qué en toda la página solo puedo encontrar siempre los mismos 6 artículos pero repetidos?</h3>
            </div>
            <div class="panel-body">
                Porque Meristation se cayó y nos quedamos sin poder robarles más artículos
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">¿El foro va?</h3>
            </div>
            <div class="panel-body">
                Obviamente no
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">¿Qué hago si las imágenes de la web dejan de cargar en mi navegador?</h3>
            </div>
            <div class="panel-body">
                Probablemente las páginas de donde las róbamos estén caidas entonces, al igual que nosotros, solo puedes esperar y rezar
            </div>
        </div>

    </div>

    <h3 class="customh3">Manual de usuario</h3>
    <div class="container-fluid">
        <p class="psection">
           Para los que quieran conocer todo sobre nuestro sitio web, aquí os dejamos un manual de uso completo para descargar. Enjoy :)
        </p>
        <button class="btn-lg btn-success">
            Descargar Manual
            <a href=""></a>
        </button>
    </div>
</div>