@model MouseRidersGenNHibernate.EN.MouseRiders.ControladorNotificacionesEN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ControladorNotificacionesDetalles</title>
</head>
<body>
    <div>
        <h4>ControladorNotificacionesEN</h4>
        <hr />
        <dl class="dl-horizontal">
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
