@{
    ViewBag.Title = "register_login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <section id="registerView" class="col-md-6">
        @Html.Partial("Register")
    </section>

    <section id="loginView" class="col-md-6">
        @Html.Partial("Login")
    </section>
</div>