@model MRModel.EN.PermisoEN

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <fieldset>
        <legend>PermisoEN</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Permisos)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Permisos)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
