@{
    ViewBag.Title = "Inicio";
}
@section featured {
<!-- Full Width Image Header -->
<header class="header-image">
    <div class="headline">
        <div class="container">
            <h1>Mouse Riders</h1>
            <h2>Algo más que una revista</h2>
        </div>
    </div>
</header>

}


@{ Html.RenderAction("MostrarMiniaturas", "Articulo", new { num = 0 });}


<button type="button" class="btn btn-default btn-lg btn-block" id="loadMore">Mostrar más</button>

<script>
    $(function () {

        var loadCount = 1;

        $("#loadMore").on("click", function (e) {

            e.preventDefault();

            var url = "/Articulo/MostrarMiniaturas/";
            $.ajax({
                url: url,
                data: {num: loadCount },
                cache: false,
                type: "GET",
                success: function (data) {
                    if (data.length > 6) {
                        $(data).insertBefore("#loadMore");
                    }
                    else {
                        $("<p id='nomore'><strong>No hay más artículos disponibles para mostrar<strong></p>").insertBefore("#loadMore");
                        $("#nomore").css("text-align", "center");
                        $("#nomore").css("font-size", "2em");
                        $("#nomore").css("color", "#999");

                        $("#loadMore").hide();
                    }

                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    alert("message : \n" +
                        "An error occurred, for more info check the js console" +
                        "\n status : \n" + status + " \n error : \n" + error);
                }
            });

            loadCount = loadCount + 3;
        });
    });
</script>
