/*Otros*/
#cabecera {
    margin-top: -60px;
}

#second-navbar {
    margin-top: -60px;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 992px) {
    #cabecera {
        margin-top: -10px;
    }

    section {
        margin-top: 70px;
    }

    nav li {
        margin-left: -1.75%;
    }

    #second-navbar {
        margin-top: -10px;
        margin-bottom: 0px;
    }
}

#ayuda{
    font-size: 2.5em;
}
#ayudaImg{
    width: 50%;
}

#bandejaE{
    margin-top:10%;
}

/*CSS para Contenido de Articulo*/
.darwin-inline-image {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contenido {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: radial-gradient(lightgrey 40%, white 60%);
}

h1 {
    font-size: 6em;
}

header h2 {
    font-size: 3em;
    color: #777;
}

#hcoments {
    margin-top: 60px;
    margin-bottom: 20px;
}

#dcoments {
    border: 5px solid;
    border-radius: 10px;
}

@media (max-width: 760px) {
    #contenido {
        width: 95%;
    }

    h1 {
        font-size: 4em;
    }

    header h2 {
        font-size: 2em;
    }
}

/*CSS para Index de Hilo (Foro)*/
body {
    word-wrap: break-word;
}


fieldset {
    width: 95%;
    margin: 3%;
    border: medium solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #EEE;
}

    fieldset fieldset {
        background-color: white;
    }

.tituloH {
    font-size: 1.5em;
}

#foro {
    margin-bottom: 40px;
}

#fechaH, #creadorH {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#fechaC, #creadorC {
    width: 49%;
    display: inline-block;
    font-weight: bold;
}

#fechaC {
    text-align: right;
}

#creadorC {
    text-align: left;
}

#contenidoC {
    margin: 3%;
}

#editC {
    display: inline-block;
    text-align: right;
    width: 49%;
}

#valC {
    display: inline-block;
    text-align: left;
    width: 49%;
}

.votar {
    background-color: white;
    border: none;
}

    .votar:hover {
        opacity: 0.5;
    }

    .votar img {
        width: 25px;
    }

#comentar {
    width: 100%;
    border-radius: 10px;
}

/*CSS para Artículo (Details)*/
#autorA, #fechaA {
    display: inline-block;
    width: 49%;
    font-size: 1.2em;
    font-weight: bold;
}

#autorA {
    text-align: left;
}

#fechaA {
    text-align: right;
}

#valA {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#valnumA {
    font-size: 2em;
}

#editA {
    text-align: right;
}

/*CSS para Encuesta (Index y Detail)*/
#tituloE, #privacidadE {
    display: inline-block;
    width: 49%;
}

#tituloE {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
}

#privacidadE {
    text-align: right;
}

#descripE {
    margin-left: 3%;
    margin-bottom: 5%;
}

#editE {
    margin-top: 2%;
    text-align: right;
}

.encuesta img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.encuesta h2 {
    text-align: center;
}


/*CSS para Hilo (Create)*/
.custom-field input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
