/*CSS para Contenido de Articulo*/
.darwin-inline-image {
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#contenido {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background: radial-gradient(lightgrey 40%, white 60%);
}

h1 {
    font-size: 6em;
}

header h2 {
    font-size: 3em;
    color: #777;
}

#hcoments{
    margin-top: 60px;
    margin-bottom: 20px;
}

#dcoments{
    border: 5px solid;
    border-radius: 10px;
}

@media (max-width: 760px) {
    #contenido {
        width: 95%;
    }

    h1 {
        font-size: 4em;
    }

    header h2 {
        font-size: 2em;
    }
}

/*CSS para Index de Hilo (Foro)*/
fieldset{
    width: 95%;
    margin: 3%;
    border: medium solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #EEE;
}

.tituloH{
    font-size: 1.5em;
}

#foro{
    margin-bottom: 40px;
}